* {
    margin: 0;
    padding: 0;
}

div {
	border: 0px solid green;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

ul {
    list-style: none;
}

body {
    padding: 5vw;
}

header {
    padding-bottom: 50px;
}

.areamap {
    width: 100%;
    border: 0;
    position: relative;
    overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none;
}

.areamap::-webkit-scrollbar {
	display: none;
}

.areamap .stage-list {
	width: 100%;
	border: 0;
	position: absolute;
	z-index: 9999;
}

.stage-list a {
	display: flex;
    box-sizing: border-box;
    width: 12.5%;
    height: 40px;
    padding: 0px;
    justify-content: center;
}

.title-container {
    position: absolute;
    text-align: center;
	white-space: nowrap;
}

.title-container::before {
	content: "";
	margin-left: -100%;
}

.title-container::after {
	content: "";
	margin-right: -100%;
}

.stage {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.mainstage + .title-container {
	color: rgb(230, 230, 92);
}

.bstage + .title-container {
	color: rgb(111, 211, 111);
}

.exstage + .title-container {
	color: rgb(237, 84, 84);
}

#canvas-container {
	position: relative;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.btn-back {
	display: inline-block;
    margin: 20px 0;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: rgb(100, 100, 220);
}