* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

ul {
    list-style: none;
}

body {
    min-width: 620px;
    background-color: #fdfdfd;
}

header {
    padding-bottom: 50px;
}

.area>.block_area {
    display: inline-block;
    width: 70px;
    height: 40px;
    padding: 10px;
    text-align: center
}

.area .block_area a {
    display: block;
    color: rgb(0, 0, 255);
}

.area {
    width: 590px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.area:nth-child(1) {
    border-top: 1px solid black;
}

.area:nth-child(1) .block_area {
    background: rgb(50, 163, 50);
}

.area:nth-child(2) .block_area {
    background: rgb(230, 230, 92);
}

.area:nth-child(3) .block_area {
    background: rgb(235, 60, 60);
}

content .btn-info {
    margin-top: 20px;
    padding: 10px;
}