* {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid black;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

ul {
    list-style: none;
}

body {
    max-width: 540px;
    background-color: #fdfdfd;
}

header {
    padding-bottom: 20px;
}

.container {
    max-width: 540px;
}
.skill-wrap {
    border: 1px solid black;
}

.skill-wrap .skill-description-wrap {
    border-top: 1px solid black;
}

#skill-carousel {
    position: relative;
}

#skill-carousel .carousel-indicators-wrap{
	position: relative;
	border: 1px solid blue;
}

#skill-carousel ol.carousel-indicators {
	position: relative;
	left: 0;
	bottom: 0;
	margin: 0;
	text-align: left;
	border: 1px solid red;
}

#skill-carousel ol.carousel-indicators li {
	/*display: inline-block;*/
	box-sizing: content-box;
	margin: 0px 1px;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    border-radius: 100%;
}

#skill-carousel ol.carousel-indicators li:after {
    height: 100%;
}

#skill-carousel ol.carousel-indicators .skill-active {
    border-color: orange;
}

#skill-carousel ol.carousel-indicators .active.skill-active {
    background-color: orange;
}

#skill-carousel ol.carousel-indicators .skill-passive {
    border-color: skyblue;
}

#skill-carousel ol.carousel-indicators .active.skill-passive {
    background-color: skyblue;
}

.skill-range-wrap {
	padding-left: 0;
	text-align: center;
}

.skill-area-wrap {
	padding-left: 0;
    border-collapse: collapse;
}

.skill-area-wrap,
.skill-area-wrap th,
.skill-area-wrap td {
    border: 1px solid white;
}

.skill-area-wrap td {
    background: rgb(37, 37, 37);
    width: 33%;
    padding-bottom: 33%;
}

.skill-area-wrap td:after {
    height: 100%;
}

.info-wrap .image {
    padding-left: 15px
}

.info-wrap .skill-comment {
    color: black;
}

.info-wrap .spec-wrap{
    text-align: right;
    
}
.info-wrap .spec-wrap .spec-item {
    display: inline-block;
    text-align: left;
}
/*
@media (min-width: 540px) {
	.skill-container {
		display: flex;
	}
	
	.skill-name-wrap {
		order: 1;
	}
	
	.skill-range-wrap {
		order: 2;
	}
	
	.skill-area-wrap {
		order: 4;
	}
	
	.skill-description-wrap {
		order: 3;
	}
}
*/











