* {
    margin: 0;
    padding: 0;
    border: 0px solid black;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

ul {
    list-style: none;
}

body {
    max-width: 540px;
    background-color: #fdfdfd;
}

.container {
    width: 100%;
    padding: 5% 0;
}

header {
	display: flex;
	align-item: center;
	justify-content: center;
	text-align: center;
	margin: 5% 0;
}

.header-content {
	margin: 0 auto;
}

.control {
	position: absolute;
	box-sizing: border-box;
	display: block;
	width: 7.5vw;
	z-index: 9999;
}

.stage-control {
	height: 10vw;
	padding: 0 0.5vw;
}

.control-left {
	left: 0;
}

.control-right {
	right: 0;
}

.control-end {
	visibility: hidden;
}

.control-arrow {
	width: 7vw;
	height: 7vw;
	border-type: solid;
	border-radius: 5%;
	border-color: rgb(220,220,220);
}

.control-left .control-arrow {
	float: right;
	transform-origin: top right;
	border-width: 0.5vw 0 0 0.5vw;
}

.control-right .control-arrow {
	float: left;
	transform-origin: top left;
	border-width: 0.5vw 0.5vw 0 0;
}

.stage-control.control-left .control-arrow {
	transform: rotate(-45deg);
}

.stage-control.control-right .control-arrow {
	transform: rotate(45deg);
}

section {
	text-align: center;
}

.btn-back {
	display: inline-block;
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: rgb(100, 100, 220);
}

.carousel {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    padding: 2% 0;
    vertical-align: middle;
}

.carousel-indicators {
	padding: 0;
	text-align: center;
}

.carousel-indicator {
	position: relative;
	display: inline-block;
    width: 5%;
    height: 0;
    margin: 0 2.5%;
    padding-bottom: 5%;
    background-color: rgb(91, 192, 222);
    border: 1px solid rgb(255, 213, 0);
}

.carousel-indicator:not(:last-child)::after {
	content: "";
	position: absolute;
	width: 200%;
	height: 50%;
	left: 100%;
	z-index: -1;
	border-bottom: 1px solid rgb(255, 213, 0);
}

.carousel-indicator-active {
    background-color: rgb(228, 60, 31);
}

.carousel-wrap {
	display: flex;
	align-items: center;
}
	
.carousel-track-wrap {
	width: 100%;
}

.carousel-control {
	height: 27vw;
	padding: 2vw 1.25vw;
}

.carousel-control.control-left .control-arrow {
	transform: scaleY(2.2) rotate(-45deg);
}

.carousel-control.control-right .control-arrow {
	transform: scaleY(2.2) rotate(45deg);
}

.carousel-track {
	padding: 0;
	margin: 0;
	position: relative;
	white-space: nowrap;
	transition: transform 0.5s ease 0s;
	border-color: blue;
}

.carousel-slide {
	margin: 0;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	border-color: red;
}

.wave-grid {
    width: 85vw;
    height: 85vw;
    margin: 2.5vw 7.5vw;
    white-space: normal;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
}

.wave-grid div {
	display: flex;
	width: 27vw;
	height: 27vw;
	align-items: center;
	justify-content: center;
	border-radius: 5%;
	background-color: rgb(200,200,200);
}

.wave-grid div a {
	text-align: center;
	color: black;
	word-break: keep-all;
}

.wave-grid div img {
	width: 50%;
}

@media (min-width: 540px) {
	body {
		max-width: unset;
		width: 100%;
	}
	
	.container {
		width: 100%;
		padding: 1% 0;
	}
	
	header {
		flex-direction: row;
		width: 400px;
		margin: 0 auto;
		border-color: red;
	}
	
	.header-content {
		margin: 0 30px;
	}
	
	.control {
		position: relative;
	}
	
	.stage-control {
		padding: 0 5px;
		width: 30px;
		height: 40px;
	}
	
	.stage-control .control-arrow {
		width: 23px;
		height: 23px;
	}
	
	.stage-control.control-left .control-arrow {
		transform: rotate(-45deg);
		border-width: 5px 0 0 5px;
	}
	
	.stage-control.control-right .control-arrow {
		transform: rotate(45deg);
		border-width: 5px 5px 0 0;
	}
	
	section {
		display: block;
	}
	
	.carousel {
		width: 100%;
	}
	
	.carousel-wrap {
		width: 540px;
		margin: 0 auto;
		justify-content: center;
	}
	
	.carousel-indicator {
		width: 30px;
		margin: 0 15px;
		padding-bottom: 30px;
	}
	
	.carousel-track-wrap {
		width: 540px;
	}
	
	.carousel-slide {
		width: 540px;
		opacity: 0.5;
		transition: opacity .5s ease-in-out;
	}
	
	.carousel-slide-active {
		opacity: 1;
	}
	
	.wave-grid {
		width: 460px;
		height: 460px;
		margin: 40px 40px;
		grid-gap: 5px;
	}
	
	.wave-grid div {
		width: 150px;
		height: 150px;
	}
	
	.carousel-control {
		width: 40px;
		height: 150px;
		padding: 8px 5px;
	}
	
	.carousel-control.control-left {
		left: 20px;
	}
	
	.carousel-control.control-right {
		right: 20px;
	}
	
	.carousel-control .control-arrow {
		width: 42px;
		height: 42px;
	}
	
	.carousel-control.control-left .control-arrow {
		transform: scaleY(2) rotate(-45deg);
		border-width: 5px 0 0 5px;
	}
	
	.carousel-control.control-right .control-arrow {
		transform: scaleY(2) rotate(45deg);
		border-width: 5px 5px 0 0;
	}
}